body, ul, li, h1, h2, h3, h4, h5, h6, button {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  background: #9DC6CA;
  height: 100%;
}

.banner {
  width: 100%;
  height: 10vw;
  background: #57068c;
  z-index: 8;
  color: #fff;
  text-align: center;
  position: fixed;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2vw;
}

.banner p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.banner a {
  text-decoration: underline;
  cursor: pointer;
  transition: color .3s ease-out;
}

.banner a:hover {
  color: #aaa;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  z-index: 2;
}

.header .nyuad-logo {
  height: 4vw;
  position: fixed;
  top: 3vw;
  left: 4.5vw;
  z-index: 3;
}

.hasBanner .header .nyuad-logo {
  top: 13vw;
}

.header .capstone-fest-logo {
  width: 91vw;
  position: absolute;
  top: -13vw;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.hasBanner .header .capstone-fest-logo {
  top: -3vw;
}

.header .capstone-fest-logo.hidden {
  display: none;
}

.header h1 {
  width: 100%;
  color: #DA4B39;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 5.5vw;
  text-align: center;
  position: absolute;
  top: 46vw;
  right: 0;
  white-space: nowrap;
}

.hasBanner .header h1 {
  top: 56vw;
}

.header h2 {
  width: 100%;
  color: #DA4B39;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  text-align: right;
  position: fixed;
  top: 3vw;
  right: 10vw;
  white-space: nowrap;
  opacity: 0;
  z-index: 2;
}

.hasBanner .header h2 {
  top: 13vw;
}

h1.hidden, h2.hidden {
  display: none;
}

.header a {
  color: #DA4B39;
  text-decoration: underline;
  transition: color .3s ease-out;
}

.header a:hover {
  cursor: pointer;
  color: #FC6D5B;
}

.header h2 span:first-child a {
  color: #000;
  text-decoration: none;
}

.header h2 span:first-child a:hover {
  color: #777;
}

.header h2 span:nth-child(2) {
  color: #000;
}

.header .search {
  position: fixed;
  top: 3.5vw;
  right: 0;
  display: flex;
  align-items: center;
  height: 3vw;
  z-index: 2;
}

.header .search button {
  width: 3vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 4.5vw;
  background-size: contain;
  background: url(../assets/search-icon.svg) no-repeat center center;
  z-index: 3;
  transition: filter .3s ease-out;
}

.hasBanner .search button {
  display: none;
}

.header .search button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.header .search button:focus {
  outline: none;
}

.header .search .search-input-container {
  display: block;
  padding: 1.5vw 8.5vw 1.5vw 3.5vw;
  background: #9DC6CA;
  background: linear-gradient(to right, #fff0, #9DC6CA 2vw, #9DC6CA);
  height: 100%;
  width: 15vw;
}

.header .search .search-input-container input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

.search-fade-enter-active, .search-fade-leave-active {
  transition: opacity .3s;
}

.search-fade-enter, .search-fade-leave-to {
  opacity: 0;
}

.header .gradient {
  width: 100%;
  height: 15vw;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(#fff, #fff 50%, #fff0);
  z-index: 1;
}

.hasBanner .header .gradient {
  top: 10vw;
}

.container {
  padding: 58vw 3vw 10vw 3vw;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.hasBanner .container {
  padding-top: 68vw;
}

.container .tile {
  background-clip: padding-box;
  box-sizing: border-box;
  flex: 0 0 25%;
  height: calc(50vw/3);
  display: flex;
  flex-direction: column;
  transition: border 0.3s ease-out, padding 0.3s ease-out;
}

.container .tile h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

.container .tile a {
  text-decoration: none;
}

.container .tile .tags {
  display: flex;
}

.container .tile .tags a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.6vw;
  color: #9CC5CA;
  text-transform: uppercase;
  margin-right: 1vw;
  transition: color .3s ease-out;
}

.container .tile .tags a:hover {
  cursor: pointer;
  color: #BEE7EC;
}

.container .tile.results {
  background-color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.container .tile.results h3, .container .tile.results h4, .container .tile.results h5 {
  font-size: 1.5vw;
}

.container .tile.results h4 {
  flex: 1;
}

.container .tile.results a {
  color: #DA4B39;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .3s ease-out;
}

.container .tile.results a:hover {
  color: #FC6D5B;
  cursor: pointer;
}

.container .tile.results img {
  width: 2vw;
  padding-right: .5vw;
}

.container .tile.video {
  background-color: #000;
  padding: .6vw 0;
  border: .7vw solid #fff0;
  color: #fff;
  align-items: center;
}

.container .tile.video:hover {
  padding: 1.3vw 0;
  border: 0 solid #fff0;
}

.container .tile.video h3 {
  font-size: 1.5vw;
  text-transform: uppercase;
  padding-bottom: .3vw;
}

.container .tile.video video {
  object-fit: cover;
  width: 100%;
  height: 80%;
  flex: 1;
}

.container .tile.video video:focus {
  outline: none;
}

.container .tile.results, .container .tile.live, .container .tile.recorded {
  padding: 1.5vw;
  border: .7vw solid #fff0;
}

.container .tile.live, .container .tile.recorded {
  background-color: #DA4B39;
  color: #fff;
}

.container .tile.results:hover, .container .tile.live:hover, .container .tile.recorded:hover {
  padding: 2.2vw;
  border: 0 solid #fff0;
}

.container .tile.live h3, .container .tile.recorded h3 {
  font-size: 1.5vw;
  text-transform: uppercase;
}

.container .tile.recorded h3 {
  padding-bottom: 1vw;
}

.container .tile.live h4, .container .tile.recorded h4 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  flex: 1;
}

.container .tile.live h5, .container .tile.recorded h5, .container .tile.book h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-top: .5vw;
  font-size: 1.7vw;
  color: #9CC5CA;
  flex: 1;
  transition: color .3s ease-out;
}

.container .tile.live a h5:hover, .container .tile.recorded a h5:hover {
  color: #BEE7EC;
}

.container .tile.live h6, .container .tile.recorded h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.7vw;
  text-transform: uppercase;
  padding-bottom: 0.5vw;
  flex: 1;
}

.container .tile.live img {
  position: absolute;
  width: 3vw;
  align-self: flex-end;
  z-index: 0;
}

.container .tile.book {
  flex: 0 0 50%;
  flex-direction: row;
  background-color: #fff;
  border: .7vw solid #fff0;
}

.container .tile.book:hover {
  border: 0 solid #fff0;
}

.container .tile.book img {
  object-fit: cover;
  width: 50%;
  height: 100%;
}

.container .tile.book div {
  width: 50%;
  height: 100%;
  position: relative;
}

.container .tile.book h5 {
  color: #DA4B39;
  position: absolute;
  box-sizing: border-box;
  padding: 2.2vw;
  top: 50%;
  left: 0;
  transform: translate(0, -6vw);
}

.container .tile.book h5:hover {
  color: #FC6D5B;
}

.container .tile.project {
  color: #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 1.5vw 5vw 1.5vw 1.5vw;
  border: .7vw solid #fff0;
}

.container .tile.project:hover {
  padding: 2.2vw 5.7vw 2.2vw 2.2vw;
  border: 0 solid #fff0;
}

.container .tile.project h3 {
  color: #DA4B39;
  font-size: 1vw;
  transition: color .3s ease-out;
}

.container .tile.project a h3:hover {
  cursor: pointer;
  color: #FC6D5B;
}

.container .tile.project h4 {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 1vw;
}

.container .tile.project p {
  padding-top: 1vw;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 0.55vw;
  line-height: 1vw;
  flex: 1;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 4% 4% 8% 4%;
  background: black;
  display: flex;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.footer .majors {
  flex: 0 0 60%;
}

.footer h3 {
  margin-bottom: 2vw;
  text-transform: uppercase;
}

.footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10vw;
  width: 60%;
  color: #DD4C37;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
}

.footer li {
  list-style-type: none;
  padding-right: 3vw;
}

.footer li a {
  color: #DD4C37;
  text-decoration: underline;
  transition: color .3s ease-out;
}

.footer li a:hover {
  cursor: pointer;
  color: #FC6D5B;
}

.footer .notice {
  flex: 0 0 40%;
}

.footer .notice p {
  text-align: left;
  margin: 0;
  padding: 0;
}

.footer .notice button {
  width: 10vw;
  height: 20%;
  margin: 1.5vw 0;
  font-size: 1vw;
  color: #fff;
  background: #57068c;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: color .3s ease-out;
}

.footer .notice button:hover {
  cursor: pointer;
  color: #aaa;
}

.footer .notice button:focus {
  outline: none;
}

@media only screen and (max-width: 1600px) {

  .header .search .search-input-container {
    width: 20vw;
  }

  .header .search .search-input-container input {
    padding: 1.3vw;
    font-size: 1.3vw;
  }

  .container .tile {
    flex: 0 0 33.3333333%;
    height: calc(200vw/9);
  }

  .container .tile .tags a {
    font-size: 0.7vw;
    margin-right: 1.3vw;
  }

  .container .tile.results h3, .container .tile.results h4, .container .tile.results h5 {
    font-size: 2vw;
  }

  .container .tile.results img {
    width: 2.5vw;
    padding-right: .7vw;
  }

  .container .tile.video {
    padding: .8vw 0;
    border: 1vw solid #fff0;
  }

  .container .tile.video:hover {
    padding: 1.8vw 0;
  }

  .container .tile.video h3 {
    font-size: 2vw;
    padding-bottom: .4vw;
  }

  .container .tile.results, .container .tile.live, .container .tile.recorded {
    padding: 2vw;
    border-width: 1vw;
  }

  .container .tile.results:hover, .container .tile.live:hover, .container .tile.recorded:hover {
    padding: 3vw;
    border-width: 0;
  }

  .container .tile.live h3, .container .tile.recorded h3 {
    font-size: 2vw;
  }

  .container .tile.recorded h3 {
    padding-bottom: 1.2vw;
  }

  .container .tile.live h4, .container .tile.recorded h4 {
    font-size: 2vw;
  }

  .container .tile.live h5, .container .tile.recorded h5, .container .tile.book h5 {
    padding-top: .8vw;
    font-size: 2.2vw;
  }

  .container .tile.live h6, .container .tile.recorded h6 {
    font-size: 2.2vw;
    padding-bottom: .8vw;
  }

  .container .tile.live img {
    width: 4vw;
  }

  .container .tile.book {
    flex: 0 0 66.6666666%;
    border: 1vw solid #fff0;
  }

  .container .tile.book h5 {
    padding: 3vw;
    transform: translate(0, -8vw);
  }

  .container .tile.project {
    padding: 2vw 6.7vw 2vw 2vw;
    border: 1vw solid #fff0;
  }

  .container .tile.project:hover {
    /* expands background only */
    padding: 3vw 7.7vw 3vw 3vw;
  }

  .container .tile.project h3, .container .tile.project h4 {
    font-size: 1.3vw;
  }

  .container .tile.project p {
    padding-top: 1.3vw;
    line-height: 1.3vw;
    font-size: 0.7vw;
  }

  .footer ul {
    height: 12vw;
    font-size: 1.4vw;
  }

  .footer .notice button {
    width: 13vw;
    font-size: 1.3vw;
  }

} 

@media only screen and (max-width: 1200px) {

  .header .search {
    top: 3vw;
    height: 4vw;
  }

  .header .search .search-input-container {
    width: 30vw;
  }

  .header .search .search-input-container input {
    padding: 1.5vw;
    font-size: 2vw;
  }

  .container .tile {
    flex: 0 0 50%;
    height: calc(100vw/3);
  }

  .container .tile .tags a {
    font-size: 1.1vw;
    margin-right: 2vw;
  }

  .container .tile.results h3, .container .tile.results h4, .container .tile.results h5 {
    font-size: 3vw;
  }

  .container .tile.results img {
    width: 4vw;
    padding-right: 1vw;
  }

  .container .tile.video {
    padding: 1.2vw 0;
    border: 1.4vw solid #fff0;
  }

  .container .tile.video:hover {
    padding: 2.6vw 0;
  }

  .container .tile.video h3 {
    font-size: 3vw;
    padding-bottom: .6vw;
  }

  .container .tile.results, .container .tile.live, .container .tile.recorded {
    padding: 3vw;
    border-width: 1.4vw;
  }

  .container .tile.results:hover, .container .tile.live:hover, .container .tile.recorded:hover {
    padding: 4.4vw;
    border-width: 0;
  }

  .container .tile.live h3, .container .tile.recorded h3 {
    font-size: 3vw;
  }

  .container .tile.recorded h3 {
    padding-bottom: 1.8vw;
  }

  .container .tile.live h4, .container .tile.recorded h4 {
    font-size: 3vw;
  }

  .container .tile.live h5, .container .tile.recorded h5, .container .tile.book h5 {
    padding-top: 1.2vw;
    font-size: 3.3vw;
  }

  .container .tile.live h6, .container .tile.recorded h6 {
    font-size: 3.3vw;
    padding-bottom: 1.2vw;
  }

  .container .tile.live img {
    width: 6vw;
  }

  .container .tile.book {
    flex: 0 0 100%;
    border: 1.4vw solid #fff0;
  }

  .container .tile.book h5 {
    padding: 4.4vw;
    transform: translate(0, -12vw);
  }

  .container .tile.project {
    padding: 3vw 10vw 3vw 3vw;
    border: 1.4vw solid #fff0;
  }

  .container .tile.project:hover {
    /* expands background only */
    padding: 4.4vw 11.4vw 4.4vw 4.4vw;
  }

  .container .tile.project h3, .container .tile.project h4 {
    font-size: 2vw;
  }

  .container .tile.project p {
    padding-top: 2vw;
    line-height: 2vw;
    font-size: 1.1vw;
  }

  .footer ul {
    height: 20vw;
    font-size: 2.2vw;
  }

  .footer .notice button {
    font-size: 2vw;
    width: 20vw;
  }

}

@media only screen and (max-width: 640px) {

  .banner {
    height: 20vw;
    font-size: 4vw;
    line-height: 6vw;
  }

  .banner p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .banner a {
    text-decoration: underline;
    cursor: pointer;
  }

  .header .nyuad-logo {
    height: 7vw;
  }

  .hasBanner .header .nyuad-logo {
    top: 23vw;
  }

  .hasBanner .header .capstone-fest-logo {
    top: 7vw;
  }

  .hasBanner .header h1 {
    top: 66vw;
  }

  .hasBanner .header h2 {
    top: 23vw;
  }

  .hasBanner .header .gradient {
    top: 20vw;
  }

  .hasBanner .container {
    padding-top: 78vw;
  }

  .header h2 {
    font-size: 5vw;
    right: 12vw;
    top: 2.7vw;
  }

  .header h2 span:last-child, .header h2 span:nth-child(2) {
    display: none;
  }

  .header .search {
    top: 2vw;
    height: 8vw;
  }

  .header .search button {
    right: 3vw;
    width: 6vw;
  }

  .header .search .search-input-container {
    width: 50vw;
    padding: 1.5vw 11.5vw 1.5vw 6.5vw;
    background: linear-gradient(to right, #fff0, #9DC6CA 4vw, #9DC6CA);
  }

  .header .search .search-input-container input {
    padding: 1.5vw;
    font-size: 3vw;
  }

  .header .gradient {
    height: 20vw;
  }

  .container .tile {
    flex: 0 0 100%;
    height: calc(200vw/3);
  }

  .container .tile .tags a {
    font-size: 2.2vw;
    margin-right: 4vw;
  }
  
  .container .tile.results h3, .container .tile.results h4, .container .tile.results h5 {
    font-size: 6vw;
  }

  .container .tile.results img {
    width: 8vw;
    padding-right: 2vw;
  }

  .container .tile.video {
    padding: 2.4vw 0;
    border: 2.8vw solid #fff0;
  }

  .container .tile.video:hover {
    padding: 5.2vw 0;
  }

  .container .tile.video h3 {
    font-size: 6vw;
    padding-bottom: 1.2vw;
  }

  .container .tile.results, .container .tile.live, .container .tile.recorded {
    padding: 6vw;
    border-width: 2.8vw;
  }

  .container .tile.results:hover, .container .tile.live:hover, .container .tile.recorded:hover {
    padding: 8.8vw;
    border-width: 0;
  }

  .container .tile.live h3, .container .tile.recorded h3 {
    font-size: 6vw;
  }

  .container .tile.recorded h3 {
    padding-bottom: 3.6vw;
  }

  .container .tile.live h4, .container .tile.recorded h4 {
    font-size: 6vw;
  }

  .container .tile.live h5, .container .tile.recorded h5, .container .tile.book h5 {
    padding-top: 2.4vw;
    font-size: 6.6vw;
  }

  .container .tile.live h6, .container .tile.recorded h6 {
    font-size: 6.6vw;
    padding-bottom: 2.4vw;
  }

  .container .tile.live img {
    width: 12vw;
  }

  .container .tile.book {
    box-sizing: border-box;
    border: 2.8vw solid #fff0;
    flex-direction: column;
    height: calc(400vw/3);
  }

  .container .tile.book img {
    width: 100%;
    height: 50%;
  }

  .container .tile.book div {
    width: 100%;
    height: 50%;
  }

  .container .tile.book h5 {
    padding: 6vw;
    top: calc(100vw/3);
    left: 50%;
    width: 82vw;
    transform: translate(-50%, -24vw);
  }

  .container .tile.project {
    padding: 6vw 20vw 6vw 6vw;
    border: 2.8vw solid #fff0;
  }

  .container .tile.project:hover {
    /* expands background only */
    padding: 8.8vw 22.8vw 8.8vw 8.8vw;
  }

  .container .tile.project h3, .container .tile.project h4 {
    font-size: 4vw;
  }

  .container .tile.project p {
    padding-top: 4vw;
    line-height: 4vw;
    font-size: 2.2vw;
  }

  .footer {
    flex-direction: column;
  }

  .footer h3 {
    margin-top: 4vw;
  }

  .footer ul {
    font-size: 4.4vw;
    height: auto;
    width: auto;
  }

  .footer .notice button {
    width: 40vw;
    height: 10vw;
    font-size: 4vw;
  }
} 
