body, ul, li, h1, h2, h3, h4, button {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  background: #9DC6CA;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
}

.header .nyuad-logo {
  height: 4vw;
  position: fixed;
  top: 3vw;
  left: 4.5vw;
}

.header .capstone-fest-logo {
  width: 91vw;
  position: absolute;
  top: -13vw;
  left: 50%;
  transform: translate(-50%, 0);
}

.header .capstone-fest-logo.hidden {
  display: none;
}

.header h1 {
  width: 100%;
  color: #DA4B39;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 5.5vw;
  text-align: right;
  position: absolute;
  top: 46vw;
  right: 4vw;
  white-space: nowrap;
}

.header h2 {
  width: 100%;
  color: #DA4B39;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  text-align: right;
  position: fixed;
  top: 3vw;
  right: 10vw;
  white-space: nowrap;
  opacity: 0;
}

h1.hidden, h2.hidden {
  display: none;
}

.header h2 span {
  color: #000;
}

.header a {
  color: #DA4B39;
  text-decoration: underline;
}

.header a:hover {
  cursor: pointer;
}

.header .search {
  position: fixed;
  top: 2.5vw;
  right: 3.5vw;
  display: flex;
  align-items: center;
}

.header .search button {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 1vw;
  right: 1vw;
  background: url(../assets/search-icon.svg);
}

.header .search button:hover {
  cursor: pointer;
}

.header .search button:focus {
  outline: none;
}

.header .search .search-input-container {
  display: block;
  padding: 1.5vw 4vw 1.5vw 1.5vw;
  background: #9DC6CA;
}

.header .search .search-input-container input {
  width: 15vw;
  height: 2vw;
  box-sizing: border-box;
  margin-right: 1vw;
  padding: 0.5vw;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.header .gradient {
  width: 100%;
  height: 15vw;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(#fff, #fff 50%, #fff0);
}

.container {
  padding: 58vw 3vw 10vw 3vw;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container .tile {
  background-clip: padding-box;
  box-sizing: border-box;
  flex: 0 0 25%;
  height: calc(50vw/3);
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.container .tile h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

.container .tile.video {
  background-color: #000;
  padding: .6vw;
  border: .7vw solid #fff0;
  color: #fff;
  transition: border 0.3s ease-out, padding 0.3s ease-out;
  align-items: center;
}

.container .tile.video:hover {
  padding: 1.3vw;
  border: 0 solid #fff0;
}

.container .tile.video h3 {
  font-size: 1.5vw;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: .3vw;
}

.container .tile.video video {
  width: 100%;
  flex-grow: 1;
}

.container .tile.video video:focus {
  outline: none;
}

.container .tile.project {
  color: #fff;
  background-color: #000;
  padding: 1.5vw 5vw 1.5vw 1.5vw;
  border: .7vw solid #fff0;
  transition: border 0.3s ease-out, padding 0.3s ease-out;
}

.container .tile.project:hover {
  /* expands background only */
  padding: 2.2vw 5.7vw 2.2vw 2.2vw;
  /* expands background and text */
  /* 
  padding: 1.5vw 6.4vw 1.5vw 1.5vw;
  */
  border: 0 solid #fff0;
}

.container .tile.project h3 {
  color: #DA4B39;
  font-size: 1vw;
}

.container .tile.project h3:hover {
  cursor: pointer;
}

.container .tile.project h4 {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.05vw;
}

.container .tile.project p {
  padding-top: 1vw;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 0.55vw;
  line-height: 1vw;
  flex: 1;
}

.container .tile.project .tags {
  display: flex;
}

.container .tile.project a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.6vw;
  color: #9CC5CA;
  text-transform: uppercase;
  margin-right: 1vw;
}

.container .tile.project a:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 4% 4% 8% 4%;
  background: black;
  color: #DD4C37;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
}

.footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10vw;
  width: 60%;
}

.footer li {
  list-style-type: none;
  padding-right: 3vw;
}

.footer li a {
  color: #DD4C37;
  text-decoration: underline;
}

.footer li a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1600px) {

  .container .tile {
    flex: 0 0 33.3333333%;
    height: calc(200vw/9);
  }

  .container .tile.video {
    padding: .8vw;
    border: 1vw solid #fff0;
  }

  .container .tile.video:hover {
    padding: 1.8vw;
  }

  .container .tile.video h3 {
    font-size: 2vw;
    padding-bottom: .4vw;
  }

  .container .tile.project {
    padding: 2vw 6.7vw 2vw 2vw;
    border: 1vw solid #fff0;
  }

  .container .tile.project:hover {
    /* expands background only */
    padding: 3vw 7.7vw 3vw 3vw;
  }

  .container .tile.project h3 {
    font-size: 1.3vw;
  }

  .container .tile.project h4 {
    font-size: 1.4vw;
  }

  .container .tile.project p {
    padding-top: 1.3vw;
    line-height: 1.3vw;
    font-size: 0.7vw;
  }

  .container .tile.project a {
    font-size: 0.7vw;
  }

  .footer {
    font-size: 1.4vw;
  }

  .footer ul {
    height: 12vw;
  }

} 

@media only screen and (max-width: 1200px) {

  .container .tile {
    flex: 0 0 50%;
    height: calc(100vw/3);
  }

  .container .tile.video {
    padding: 1.2vw;
    border: 1.4vw solid #fff0;
  }

  .container .tile.video:hover {
    padding: 2.6vw;
  }

  .container .tile.video h3 {
    font-size: 3vw;
    padding-bottom: .6vw;
  }

  .container .tile.project {
    padding: 3vw 10vw 3vw 3vw;
    border: 1.4vw solid #fff0;
  }

  .container .tile.project:hover {
    /* expands background only */
    padding: 4.4vw 11.4vw 4.4vw 4.4vw;
  }

  .container .tile.project h3 {
    font-size: 2vw;
  }

  .container .tile.project h4 {
    font-size: 2.1vw;
  }

  .container .tile.project p {
    padding-top: 2vw;
    line-height: 2vw;
    font-size: 1.1vw;
  }

  .container .tile.project a {
    font-size: 1.1vw;
  }

  .footer {
    font-size: 2.2vw;
  }

  .footer ul {
    height: 20vw;
  }

}
@media only screen and (max-width: 640px) {
  .container .tile {
    flex: 0 0 100%;
    height: calc(200vw/3);
  }

  .container .tile.video {
    padding: 2.4vw;
    border: 2.8vw solid #fff0;
  }

  .container .tile.video:hover {
    padding: 5.2vw;
  }

  .container .tile.video h3 {
    font-size: 6vw;
    padding-bottom: 1.2vw;
  }

  .container .tile.project {
    padding: 6vw 20vw 6vw 6vw;
    border: 2.8vw solid #fff0;
  }

  .container .tile.project:hover {
    /* expands background only */
    padding: 8.8vw 22.8vw 8.8vw 8.8vw;
  }

  .container .tile.project h3 {
    font-size: 4vw;
  }

  .container .tile.project h4 {
    font-size: 4.2vw;
  }

  .container .tile.project p {
    padding-top: 4vw;
    line-height: 4vw;
    font-size: 2.2vw;
  }

  .container .tile.project a {
    font-size: 2.2vw;
  }

  .footer {
    font-size: 4.4vw;
  }

  .footer ul {
    height: auto;
    width: auto;
  }
} 
