<!DOCTYPE html>
<html>
  <head>
    <title>A&H Capstone Fest 2020</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Raleway:wght@500;700&family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <script src="js/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="header">
        <div class="gradient"></div>
        <img class="capstone-fest-logo" src="assets/capstone-fest-logo.svg" alt="Arts & Humanities Capstone Fest 2020">
        <h1>May 6—7, 2020. <a v-on:click="filterTilesByTag('live')">Live events</a> from 8-11 PM</h1>
        <a href="https://nyuad.nyu.edu/" target="_blank"><img class="nyuad-logo" src="assets/nyuad-logo.svg" alt="NYU Abu Dhabi"></a>
        <h2><span>A&H Capstone Fest 2020.</span> <a v-on:click="filterTilesByTag('live')">Live events</a> from 8-11 PM</h2>
        <div class="search">
          <transition name="fade">
            <div class="search-input-container" v-if="searchInputVisible">
              <input type="text" v-model="search" placeholder="Search keyword..."/>
            </div>
          </transition>
          <button v-on:click="searchInputVisible = !searchInputVisible" id="search-button"></button>
        </div>
      </div>
      <div class="container">
        <div class="tile video" v-for="tile in filteredTiles" v-if="tile.type === 'video'">
          <h3>{{ tile.title }}</h3>
          <video controls>
            <source src="media/a-message-from-the-dean.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
        </div>
        <div class="tile project" v-for="tile in filteredTiles" v-if="tile.type === 'project'">
          <h3 v-on:click="openLink(tile.link)">{{ tile.title }}</h3>
          <h4>{{ tile.subtitle }}</h4>
          <p>{{ tile.description }}</p>
          <div class="tags" v-if="tile.tags">
            <a v-for="tag in tile.tags" v-on:click="filterTilesByTag(tag)"># {{ tag }}</a>
          </div>
        </div>
        <div class="tile live" v-for="tile in filteredTiles" v-if="tile.type === 'live'">
          <h4>Live Event</h4>
          <h4>{{ tile.description }}</h4>
          <img src="assets/clock-icon.png" alt="Clock Icon">
          <h3 v-on:click="openLink(tile.link)">{{ tile.title }}</h3>
          <h5>Click to join in</h5>
          <div class="tags" v-if="tile.tags">
            <a v-for="tag in tile.tags" v-on:click="filterTilesByTag(tag)"># {{ tag }}</a>
          </div>
        </div>
        <div class="tile recorded" v-for="tile in filteredTiles" v-if="tile.type === 'recorded'">
          <h4>Recorded Event</h4>
          <h3 v-on:click="openLink(tile.link)">{{ tile.title }}</h3>
          <h5>{{ tile.description }}</h5>
          <div class="tags" v-if="tile.tags">
            <a v-for="tag in tile.tags" v-on:click="filterTilesByTag(tag)"># {{ tag }}</a>
          </div>
        </div>
        <div class="tile book" v-for="tile in filteredTiles" v-if="tile.type === 'book'">
          <img src="assets/clock-icon.png" alt="Clock Icon">
          <h3 v-on:click="openLink(tile.link)">{{ tile.title }}</h3>
        </div>
      </div>
      <div class="footer">
        <ul>
          <li v-for="major in majors">
            <a v-on:click="filterTilesByTag(major.name)">{{ major.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <script src="js/tabletop.js"></script>
    <script>

      // scrolling animation
      var scroll = window.requestAnimationFrame ||
            function(callback){ window.setTimeout(callback, 1000/60)};

      function loop() {
        let largeHeading = document.getElementsByTagName("h1")[0];
        let smallHeading = document.getElementsByTagName("h2")[0];
        let festLogo = document.getElementsByClassName("capstone-fest-logo")[0];
        if (window.scrollY > window.innerWidth*.3) {
          smallHeading.style.opacity = 2*(window.scrollY-window.innerWidth*.3)/window.innerWidth/.3;
          festLogo.className = "capstone-fest-logo hidden";
          largeHeading.className = "hidden";
          smallHeading.className = "";
        } else {
          festLogo.style.opacity = (window.innerWidth*.3-window.scrollY)/window.innerWidth/.3;
          festLogo.className = "capstone-fest-logo";
          largeHeading.className = "";
          smallHeading.className = "hidden";
          largeHeading.style.opacity = (window.innerWidth*.3-window.scrollY)/window.innerWidth/.3;
        }
        scroll(loop);
      }

      loop();


      window.onload = function() {
      }

      class Tile {
        constructor(type, title, subtitle, description, link, image, tags) {
          this.type = type;
          this.title = title;
          this.subtitle = subtitle;
          this.description = description;
          this.link = link;
          this.image = image;
          this.tags = tags;
        }
      }

      var app = new Vue({
        el: '#app',
        data: {
          search: '',
          searchInputVisible: false,
          tiles: [],
          tilesFilteredByTag: [new Tile('loading capstones...','','','')],
          majors: [{name: 'loading majors...'}]
        },
        methods: {
          filterTilesByTag: function(selectedTag) {
            window.scrollTo(0, window.innerWidth*.48);
            this.tilesFilteredByTag = this.tiles.filter(function (tile) {
              if (tile.tags) {
                for (tag of tile.tags) {
                  if (tag.toLowerCase() === selectedTag.toLowerCase()) {
                    return true;
                  }
                }
              }
              return false;
            });
          },
          openLink: function(link) {
            window.open(link, '_blank');
          }
        },
        computed: {
          filteredTiles: function() {
            if (this.searchInputVisible) {
              window.scrollTo(0, window.innerWidth*.48);
            }
            return this.tilesFilteredByTag.filter(tile => {
              return tile.title.toLowerCase().includes(this.search.toLowerCase()) ||
                tile.subtitle.toLowerCase().includes(this.search.toLowerCase()) ||
                tile.description.toLowerCase().includes(this.search.toLowerCase()) ||
                tile.tags[0].toLowerCase().includes(this.search.toLowerCase())
            });
          }
        }
      })

      function init() {
        Tabletop.init( {
          key: 'https://docs.google.com/spreadsheets/d/19seYcWtzkf4YZTyaobE63dm8B9k0_9dqv0RZ4l5Vo-Q/edit?usp=sharing',
          simpleSheet: false }
        ).then(function(data, tabletop) {
          console.log(data);
          let tiles = [];

          // loading projects
          let majors = [];
          projectsData = data["Projects"].elements;
          for (let i = 0; i < projectsData.length; i++) {
            tiles.push(new Tile('project',
              projectsData[i]['Title'],
              projectsData[i]['Preferred Name'] ? projectsData[i]['Preferred Name'] : projectsData[i]['First Name']+' '+projectsData[i]['Last Name'],
              projectsData[i]['Description'],
              projectsData[i]['Link'],
              projectsData[i]['Image Link'],
              projectsData[i]['Tags'] ? projectsData[i]['Tags'].split(', ') : []));
            if (!majors.some(major => major.name === projectsData[i]['Major'])) {
              majors.push({ name: projectsData[i]['Major'] });
            }
          }
          app.majors = majors;

          // loading live events
          liveEventsData = data["Live Events"].elements;
          for (let i = 0; i < liveEventsData.length; i++) {
            tiles.push(new Tile('live',
              liveEventsData[i]['Title'],
              liveEventsData[i]['Time'],
              liveEventsData[i]['Description'],
              liveEventsData[i]['Link'],
              '',
              liveEventsData[i]['Tags'] ? liveEventsData[i]['Tags'].split(', ') : []));
          }

          // loading recorded events
          recordedEventsData = data["Recorded Events"].elements;
          for (let i = 0; i < recordedEventsData.length; i++) {
            tiles.push(new Tile('recorded',
              recordedEventsData[i]['Title'],
              recordedEventsData[i]['Time'],
              recordedEventsData[i]['Description'],
              recordedEventsData[i]['Link'],
              '',
              recordedEventsData[i]['Tags'] ? recordedEventsData[i]['Tags'].split(', ') : []));
          }

          // loading videos
          videoData = data["Videos"].elements;
          for (let i = 0; i < videoData.length; i++) {
            tiles.push(new Tile('video',
              videoData[i]['Title'],
              '',
              videoData[i]['Description'],
              videoData[i]['Link'],
              '',
              videoData[i]['Tags'] ? videoData[i]['Tags'].split(', ') : []));
          }

          // loading archival book
          bookData = data["Archival Book"].elements;
          for (let i = 0; i < bookData.length; i++) {
            tiles.push(new Tile('book',
              bookData[i]['Title'],
              '',
              bookData[i]['Book Link'],
              bookData[i]['Image Link'],
              bookData[i]['Tags'] ? bookData[i]['Tags'].split(', ') : []));
          }

          app.tiles = tiles;
          app.tilesFilteredByTag = tiles;
          window.scrollTo(0,0);
          console.log('top');
        })
      }
      window.addEventListener('DOMContentLoaded', init)

    </script>
  </body>
</html>
